body{
    background-color: lightgray;
}

h1{
    margin-left: 4rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
}

.container{
    background-color: black;
    width: 50%; 
    padding: 0 15px;
    margin: 0 auto;
}
.bg-wraf {
    
    padding: 10px 0; 
  }

  .text{
    margin-left: 20rem;
    margin-top: 6rem;
    font-size: 1.3rem;
  }